body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: #222;
    padding: 2px;
    text-align: center;
    font-size: 35px;
    color: white;
    border-radius: 10px;
  }
  
  /* Container for flexboxes */
  section {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Style the navigation menu */
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style the content */
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
  }

  /* Style the content */
  image {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    text-decoration-line: underline;
    text-shadow: 2px 2px #000;
    color: white;
    border-radius: 2px;
  }